<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <a class="btn btn-block btn-default" role="button" href="/to_daycare">Going to Daycare</a>
      <a class="btn btn-block btn-info" role="button" href="/from_daycare">Returning from Daycare</a>
  </div>
</div>
